<h3>Workshop realizzato in collaborazione con <a href="https://nebulab.it/">Nebulab</a></h3>
<h3>Lingua: italiano / Language: Italian only</h3>
<br />

<h2 class="row__title">Creare un applicativo con Rails e Vue.js - Verona, Mercoledì 10 Aprile 2019</h2>

<div class="row row--2">
    <div class="row__column">
        <p>
            <strong>In questo workshop vedremo come sviluppare un’app Rails utilizzando VueJS per le componenti frontend.</strong><br/>
            Ci concentreremo sull’integrazione di VueJS con Rails, unendo la potenza e la semplicità dei due framework.<br/>
            Lo scopo del workshop è avvicinare gli sviluppatori frontend allo sviluppo di semplici API backend, 
            e gli sviluppatori backend all’implementazioni di frontend ricchi per le loro applicazioni.<br/>
            In Rails vedremo come creare le rotte, i modelli e i controller per lo sviluppo di API REST. <br/>
            In VueJS ci concentreremo su come creare componenti semplici e scalabili, utilizzando Vuex per la gestione delle risorse e la comunicazione fra componenti.
        </p>
        <br/>

        <h3>Argomenti</h3>
        <p>
        <ul>
            <li>Creazione applicazione Rails con webpacker</li>
            <li>Installazione di VueJS sull’app Rails</li>
            <li>Configurazione del progetto: ES6, Babel 7, JSX (https://github.com/vuejs/jsx)</li>
            <li>Struttura del progetto</li>
            <li>Creazione modello, rotte e controller in Rails (API RESTful)</li>
            <li>Creazione dei componenti VueJS per la realizzazione delle seguenti pagine:
                <ul>
                    <li>Lista prodotti</li>
                    <li>Dettaglio prodotto</li>
                    <li>Galleria immagini prodotto</li>
                    <li>Selezione colore prodotto</li>
                    <li>Recensioni del prodotto</li>
                    <li>Dettaglio singola recensione</li>
                    <li>Commenti altri utenti sulla recensione</li>
                </ul>
            </li>
        </p>

        <a href="{{ site.data.tickets.url }}" class="button button--register">
            Registrati
        </a>
        <br/><br/>


        <h3>A chi è rivolto</h3>
        <p>
            Il workshop è rivolto a chiunque voglia imparare a <strong>costruire un’applicazione completa Rails utilizzando VueJS.</strong><br/> 
            Non è necessaria nessuna esperienza con Rails o VueJS siccome ogni componente del progetto verrà spiegata ed implementata durante il workshop.

        </p>
        <br />

        <h3>Requisiti di partecipazione</h3>
        <p>
            Conoscenze base di HTML, JavaScript, pattern MVC, REST API e capacità di lavorare con il terminale.
        </p>
        <br/>

        <h3>Informazioni utili</h3>
        <p>
            La durata del corso è di una giornata e si terrà <strong>Mercoledì 10 Aprile 2019</strong> nella stessa location della conferenza.<br/>
            Per partecipare al workshop, in modo indipendente dal sistema operativo, vi servirà avere installato Ruby ( >= 2.5 con rails e bundler ), nodejs (>= 10.15 LTS), yarn, Vue CLI, Vue DevTools, un terminale e un buon editor come Atom con le relative extension. Consiglio di utilizzare rbenv e rvm o asdf per gestire le versioni di ruby e node.
        </p>
        <br/>

        <h3>Programma</h3>
        <p>
        <table cellpadding="3">
            <tr>
                <td style="text-align: center">9:00</td>
                <td>-</td>
                <td style="text-align: center">9:30</td>
                <td>Registrazione</td>
            </tr>
            <tr>
                <td style="text-align: center">9:30</td>
                <td>-</td>
                <td>11:00</td>
                <td>Workshop</td>
            </tr>
            <tr>
                <td>11:00</td>
                <td>-</td>
                <td>11:20</td>
                <td>Coffee break</td>
            </tr>
            <tr>
                <td>11:20</td>
                <td>-</td>
                <td>13:00</td>
                <td>Workshop</td>
            </tr>
            <tr>
                <td>13:00</td>
                <td>-</td>
                <td>14:00</td>
                <td>Pranzo</td>
            </tr>
            <tr>
                <td>14:00</td>
                <td>-</td>
                <td>16:00</td>
                <td>Workshop</td>
            </tr>
            <tr>
                <td>16:00</td>
                <td>-</td>
                <td>16:20</td>
                <td>Coffee break</td>
            </tr>
            <tr>
                <td>16:20</td>
                <td>-</td>
                <td>18:30</td>
                <td>Workshop</td>
            </tr>
        </table>
        </p>
        <br>

        <h3>Sede</h3>
        <p>
            <strong class="row__title">Hotel San Marco</strong><br>
            Via Longhena, 42<br>
            37138 Verona — Italy<br>
            <a href="tel:045569011">045569011</a><br>
            <a href="tel:045572299">045572299</a><br>
            <a href="http://www.sanmarco.vr.it/index.cfm/it/">http://www.sanmarco.vr.it/</a><br>
            L'hotel offre tariffe scontate ai partecipanti al workshop, sia per camere singole che doppie.
        </p>

        <br/> <br/>
        <a href="{{ site.data.tickets.url }}" class="button button--register">
            Acquista il biglietto!
        </a>
    </div>
    <div class="row__column">
        <div class="talk__speakers">
          <span class="talk__speaker-name">
              Andrea Vassallo
          </span>
        </div>
        <p>
            <img src="{{ site.baseurl }}/img/{{ site.data.conference.slug }}/training/andrea-vassallo.jpg"
                 alt="Andrea Vassallo">
            <br /><br />
            Full-Stack Developer @ Nebulab<br/>
            Attratto dal mondo dell’informatica da sempre, capisce fin da subito di voler fare della propria passione un lavoro.<br/> Sviluppatore Rails, Django, Android Java/Kotlin e docente presso lo IED di Roma.<br/>
            Ad oggi, sviluppatore e-commerce con Solidus (Ruby on Rails) e VueJS.<br/>
        </p>
    </div>
</div>
