<section class="main-color">
  <section class="limit limit--no-overflow">
    <div class="conf-infos">
      <div class="conf-infos__column">
        <h4 class="conf-infos__title">
          What is it?
        </h4>
        <p class="conf-infos__text">
          RubyDay 2019 is the 7th edition of the Italian Ruby conference, now for the first time organized by GrUSP.
          The event’s goal is to allow Italian Rubyists to meet and share experience while having fun and networking in an enjoyable context.
        </p>
        <p class="conf-infos__text">
          The conference is organized by GrUSP, the organizers of events like phpday and jsday.
        </p>
      </div>

      <div class="conf-infos__column">
        <div class="conf-infos__logos">
            <a href="http://grusp.org" target="_blank"><img class="conf-infos__logo" src="{{ site.baseurl }}/img/grusp-logo-full.svg" alt="GrUSP"></a>
        </div>
      </div>

    </div>
  </section>
</section>
