<section class="limit limit--no-overflow">
  <div class="conf-infos">
    <div class="conf-infos__column">
      <h4 class="conf-infos__title">
        What is it?
      </h4>
      <p class="conf-infos__text">
        Ruby is...
      </p>
      <p class="conf-infos__text">
        The conference is organized by GrUSP, the organizers of jsDay.
      </p>
    </div>

    <div class="conf-infos__column">
      <div class="conf-infos__logos">
          <a href="http://grusp.org" target="_blank"><img class="conf-infos__logo" src="{{ site.baseurl }}/img/logo_grusp.png" alt="GrUSP"></a>
      </div>
    </div>

  </div>
</section>
